<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Login</h4>
          </div>
          <a href="/api/github">
            <button class="btn btn-primary">Logueate con Github</button>
            </a>
          <div class="card-footer bg-light">
            <p class="mb-0">No estas registrado? hazlo aqui
              <a href="/signup">Register</a></p>
            <br />
            <p class="mb-0">Inicia sesion<a href="/login">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/login.js"></script>